// Navbar for photo board

nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	// Brand and toggle get grouped for better mobile display
	.navbar-header
		a.brand(href="#")
			img.logo(src='/images/logo.jpg')
	.navbar-inner
		h2.navbar-text.mtl Undergraduate Students